<!DOCTYPE html>
<html>
  <head>
    <title>HoloCron</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2ee69e381b.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>";
      window.defaultPropic = "<%= image_url('default_propic.jpg') %>";
      window.defaultCover = "<%= image_url('default_cover.png') %>";
    </script>
      <meta property="og:title" content="Holocron" />
     <meta property='og:image' content="<%= image_url('project_pic.png') %>"/>
     <meta property="og:description"
       content="HoloCron, a Facebook clone, is a social media application that allows users to post content which can be viewed by other users as well as building a personalized profile to display their posts that other users can follow."
     />
     <meta property="og:url"
       content="http://holo-cron.herokuapp.com/"
     />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
